@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --primary-blue: hsl(233, 47%, 7%);
  --primary-saturated: hsl(244, 38%, 16%);
  --primary-violet: hsl(277, 64%, 61%);
  --transparent-violet: hsla(277, 64%, 61%, 0.5);
  --white: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

html {
  font-size: 100%;
  box-sizing: border-box;
  line-height: 1.4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Laxend Deca", sans-serif;
  margin: 0;
  padding: 160px 140px;
  background-color: var(--primary-blue);
  color: var(--white);
}

@media (max-width: 768px) {
  body {
    padding: 90px 25px;
  }
}

.container {
  width: 100%;
  display: flex;
  /* padding: 160px 140px; */
  background-color: var(--primary-saturated);
  border-radius: 20px;
  overflow: hidden;
}

.img-container {
  display: flex;
  position: relative;
  width: 100%;
}

img {
  position: relative;
  object-fit: cover;
  object-position: top center;
  width: inherit;
}

.img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparent-violet);
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
  .img-container {
    height: 240px;
  }
}

.main-section {
  min-width: 50%;
  padding: 60px 70px 40px 60px;
}

.main-section h1 {
  font-size: 1.875rem;
}

.main-section p {
  font-size: 0.875rem;
  color: var(--transparent-white);
}

.main-section h1 .text-violet {
  color: var(--primary-violet);
}

@media (max-width: 768px) {
  .main-section {
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 20px 40px 20px 40px;
  }
}
.company-stats-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin-top: 60px;
}

.company-stats p {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--white);
  width: 100%;
}

.item1 {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: var(--transparent-white);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .company-stats-container {
    display: grid;
    grid-template-columns: auto;
    padding: 0;
    justify-content: center;
    margin: 10px auto;
  }
}

.attribution {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0 auto;
}

.attribution a {
  text-decoration: none;
  color: var(--primary-violet);
}
